@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

$primary-color: #222b36;

:root {
  font-family: Space Grotesk,system-ui,sans-serif;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: $primary-color;
}

*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
  // font-size: 62.5%;
}
