@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

$primary-color: #222b36;

:root {
  font-family: Space Grotesk,system-ui,sans-serif;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: $primary-color;
}

*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
  // font-size: 62.5%;
}

/* ---------------------------------Scrollbar-------------------------------- */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6c6c6cb9;
  transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: #276b9a;
}
